@import "reset";
@import "utilities";

body {
  font-family: "Roboto",sans-serif;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #8f54a0 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #9EA0A5;
  border-radius: 10px;
  border: 3px solid #ffffff;
}

.root__wrapper {
  display: flex;
  height: 100%;
  width: 100%;
}

// Right side content wrapper.
.right-side__wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
}

// Header styles.
.main__header {
  align-items: center;
  background: #fff;
  border-bottom: 1px solid #eaedf3;
  display: flex;
  justify-content: space-between;
  min-height: 3.7rem;
  padding: 0 2rem;

  h2 {
    text-transform: capitalize;
    font-weight: 500;
  }
}

// Drop down styles.
.drop-down {
  border-radius: 5px;
  border: 1px solid #d8dce6;
  box-shadow: 0 1px 1px 0 rgba(22,29,37,.05),inset 0 -70px 30px -50px rgba(22,29,37,.03),inset 0 2px 0 0 hsla(0,0%,100%,.05);
  cursor: pointer;
  font-size: 12px;
  height: max-content;
  padding: .5rem 1rem;
  position: relative;

  .label {
    align-items: center;
    display: flex;
    font-size: .875rem;
    font-weight: 400;
    position: relative;

    .img {
      margin-right: .5rem;
    }

    .arrows {
      height: 12px;
      position: relative;
      width: 30px;

      &::after, &::before {
        border-left: solid 4px transparent;
        border-right: solid 4px transparent;
        content: "";
        position: absolute;
        right: 0;
      }

      &::after {
        border-bottom: solid 4px #a6a6a6;
        top: 0;
      }

      &::before {
        border-top: solid 4px #a6a6a6;
        bottom: 0;
      }
    }
  }

  &__items {
    background: #fff;
    border-radius: 5px;
    border: 1px solid #eeeeee;
    box-sizing: border-box;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 100%;
    transition: opacity 243ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 162ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    width: 100%;
    z-index: 99;

    &.open {
      opacity: 1;
    }

    li {
      padding: .25rem 1rem;

      &:hover {
        background-color: rgba(0, 0, 0, 0.04);
      }

      img {
        margin-right: .5rem;
      }
    }
  }
}

// Main content wrapper
.main-content__wrapper {
  background-color: #f3f6fd;
  flex-grow: 1;
  max-height: calc(100vh - 3.7rem);
  overflow-y: auto;
  padding: 2rem;
}

// Stats card containers
.stats-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;

  & > div {
    flex-basis: 23.7%;
  }
}

.traffic-stats {

  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  & > div:first-child {
    flex-basis: calc(70% - 4%)
  }

  & > div:last-child {
    flex-basis: 30%;
  }
}

// Table styles
.card-table {
  width: 100%;
  border-collapse: collapse;

  tr {
    th {
      border-bottom: 1px solid #eaedf3;
      color: #9ea0a5;
      font-size: .75rem;
      font-weight: 500;
      height: 44px;
      line-height: 1.125rem;
      padding: 0.313rem 1.875rem;
      text-align: left;
      text-transform: uppercase;
    }

    td {
      border-bottom: 1px solid #eaedf3;
      color: #3e3f42;
      font-size: .875rem;
      height: 70px;
      line-height: 1.5;
      padding: 0.313rem 1.875rem;
      text-align: left;
    }
  }
}
