.panel-collapse {
  flex-basis: 100%;
  overflow: hidden;
  padding: 0 0 0 2rem !important;
  transition: max-height .5s ease;

  &.nav-links {
    li {
      border-bottom: none;
      color: #9ea0a5;
    }

    h2 {
      min-height: 40px;
    }
  }
}
.panel-close {
  max-height: 0;
}
