// Navigation styles.
.nav-bar {
  border-right: 1px solid #eaedf3;
  display: flex;
  flex-basis: 270px;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  height: 100%;
  overflow-y: auto;

  &-scroll {
    flex-grow: 1;
    flex-shrink: 1;
    max-height: calc(100vh - 3.7rem);
    overflow-y: auto;
  }

  .header {
    align-items: center;
    background: #fff;
    border-bottom: 1px solid #eaedf3;
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    height: 3.7rem;
    justify-content: center;
    z-index: 100;
  }
}

.nav-links {
  padding: 16px 30px 30px;

  li {
    border-bottom: 1px solid #eaedf3;
    color: #3e3f42;
    cursor: pointer;
    font-size: .875rem;

    h2 {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      min-height: 60px;

      span {
        flex: 1;
      }

      svg {
        font-size: 14px;
      }
    }

    svg {
      font-size: 20px;
      margin-right: 1rem;

      &:hover {
        color: #1665d8;
      }
    }
  }
}

.recently-viewed {
  min-height: 430px;

  .title {
    color: #9ea0a5;
    display: block;
    font-size: .75rem;
    font-weight: 500;
    line-height: 1.5;
    padding: 10px 30px;
    text-transform: uppercase;
  }

  .items a {
    align-items: center;
    color: #3e3f42;
    display: flex;
    font-size: .875rem;
    justify-content: space-between;
    min-height: 40px;
    padding: 0 30px;
    position: relative;
    text-decoration: none;

    &:hover {
      background: rgba(84,147,245,.05);
      color: #1665d8;
    }
  }
}

.credits {
  border-top: 1px solid #eeeeee;
  color: #9ea0a5;
  font-size: .75rem;
  font-weight: 500;
  line-height: 1.5;
  padding: 20px 30px;

  span {
    color: #3e3f42;
  }
}
