.most-viewed {
  .content {
    padding: 0;
  }

  .card-table {
    tr {
      td, th {
        padding: 0.313rem 0.938rem;
        width: 200px;
      }

      td:first-child, th:first-child {
        padding-left: 1.875rem;
      }

      td:last-child, th:last-child {
        padding-right: 1.875rem;
      }

      .page {
        align-items: center;
        display: flex;
        justify-content: space-between;
        width: 100%;
      }

      .bonus-rate {
        align-items: center;
        display: flex;

        span {
          margin-right: 1rem;
        }
      }
    }
  }
}
